
<!DOCTYPE html>
{%load staticfiles %}
<html>
<head>
<title>kumar swamy resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Kumar Swamy."/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="{%static "css/demo.css"%}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static "images/headshot.jpg"% }">
		</div>

		<div id="name">
			<h1 class="quickFade delayTwo">KUMAR SWAMY</h1>
			<h2 class="quickFade delayThree">Python Developer</h2>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>email: <a href="mailto:eagukumar@gmailcom" target="_blank">eagukumar.python@gmail.com</a></li>
				<li>mobile: 8919435715</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
<p>Seeking Python programmer position with a company where my skills can be used in designing, securing, and optimizing challenging applications and their performance. </p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>python devloper at inet solv tech</h2>
					<p class="subDetails">jan-2018--present</p>
					<p>Open source Python/Django web application with Backbone.js frontend. Lead development
of major components of the application, as well as spearheading major code‑cleanup and
refactoring efforts in an agile, Scrum‑based workflow.</p>
				</article>

				<article>
					<h2>Python Developer at Company</h2>
					<p class="subDetails">Jan 2016 - dec 2017</p>
          Python web application running on Google App Engine. Assisted with a major architectural
restructuring to work with App Engine’s eventually‑consistent datastore. Increased
developer productivity through communication, education, tooling, and automated testing.
				</article>
        <article>
        					<h2>Python Developer at mits</h2>
        					<p class="subDetails">April 2015 - jan-2016</p>
        					<p>A Python-based application that consumes customer-specific feeds and crawls customer websites for data
extraction of Categories, Products and Facets. All of these are consumed by IntentGraph for graph building.
Built a semi-supervised website facet extractor.
Built crawler-defined templates for new customers.
Developed new features and improve existing ones.</p>
        				</article>
        			</div>
        			<div class="clear"></div>
        		</section>


		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>Django</li>
					<li>Html</li>
					<li>Css</li>
					<li>Bootsrap</li>
					<li>JavaScript</li>
					<li>jinja 2</li>
					<li>DRF</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Madanapalle institute of science and technology</h2>
					<p class="subDetails">MCA</p>
          <p>MCA from Madanapalle Institute of Science and Technology with 81%</p>
				</article>

				<article>
					<h2>sri saikrupa degree college</h2>
					<p class="subDetails">Qualification</p>
					<p>B.SC from Sri Sai Krupa Degree College, Dharmavaram with 73%.  </p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
    <section>
      <div class="sectionTitle">
        <h1>Training</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>inet slov technology</h2>
          <p class="subDetails">python and django course</p>
          <p>i have completed python and django course</p>
        </article>
        	<div class="clear"></div>
          </section>
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
